<div class="row">
    <div class="col text-center">Count: {{count}}</div>
</div>
<div class="row mt-5">
    <div class="col text-center"><button (click)="onIncrement()" class="btn btn-primary">Increment</button></div>
    <div class="col text-center"><button (click)="onDecrement()" class="btn btn-primary">Decrement</button></div>
    <div class="col text-center"><button (click)="onAdd()" class="btn btn-primary">Add 5</button></div>
    <div class="col text-center"><button (click)="onSubtract()" class="btn btn-primary">Subtract 5</button></div>
</div>

<div class="row mt-5">
    <div class="col">
        <h4>History</h4>
    </div>
    <div class="col text-right">
        <button class="btn btn-warning " (click)="onClearHistory()">Clear History</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col" *ngFor="let item of history">
        {{item}}
    </div>
</div>
